.border {
    display: flex;
    justify-content: center;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid black;
    border-left-style: none;
    border-right-style: none;
    background-color: white;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 20vh;
    margin: 0 10px 10px 10px;
}

.list {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    width: 40vw;
    background-color: #a6ff9e;
    min-height: 100vh;
    align-items: center;
    padding: 20px 10px;
}

.container {
    height: 100%;
    background-image: url('../check-off-to-do-list-efficiency.jpg');  
}
